<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>MQTT Control</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/08e63b66-17e6-4a37-b447-cb3acf6954ba/favicon.ico?v=1691737780870">
  <link rel="stylesheet" href="styles.css">
  <audio id="clickSound">
    <source src="https://cdn.glitch.global/08e63b66-17e6-4a37-b447-cb3acf6954ba/click.mp3?v=1693077805076" type="audio/mpeg">
  </audio>
  <audio id="audio" preload="auto">
    <source src="https://cdn.glitch.global/c9c73aab-9068-4ce2-bf4b-7b548ee5ac04/click.mp3?v=1696872032277" type="audio/mpeg">
  </audio>
</head>
<body>

<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
  <div class="container text-center">
    <main>
      <!-- Logo Section -->
      <img src="https://cdn.glitch.global/c674a098-1705-4f44-b528-2d5b8305b7de/download.jpg?v=1735886374407" 
           alt="Logo" 
           class="img-fluid mb-4" 
           style="max-width: 150px;">

      <h1 class="text-center">NIELIT MQTT Control</h1>
      <h6 class="text-center">Welcome, <%= username %>!</h6>
      <div class="voice-recognition">
        <button id="startVoiceRecognition" class="btn btn-lg btn-secondary">Start Voice Recognition</button>
        <div id="voiceRecognitionFeedback" class="voice-feedback">Listening...</div>
      </div>
      <label class="d-flex align-items-center justify-content-center">
        <input id="toggleSwitch" class="l" type="checkbox">
        <span class="slider"></span>
      </label>
      <center> 
        <h6 id="appStatus">Switch Status: off</h6> 
      </center>
      <div class="btn-group d-flex justify-content-center">
        <a class="btn btn-lg btn-history" href="/historic-data">View History</a>
        <form action="/logout" method="post">
          <button class="btn btn-lg btn-custom" type="submit">Logout</button>
        </form>
      </div>
    </main>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script src="script.js"></script>
</body>
</html>
